body { 
    font-family: sans-serif; 
    margin: 2em;
}
    
button { 
    padding: 10px 20px; 
    font-size: 16px; 
}

.cert { 
    border: 1px solid #ccc; 
    margin: 1em 0; padding: 1em; 
    border-radius: 5px; 
}
    
.error { 
    color: red; 
}

.dropzone {
  width: 100%;
  max-width: 400px;
  height: 150px;
  border: 2px dashed #666;
  border-radius: 10px;
  line-height: 150px;
  color: #666;
  margin: 20px auto;
  display: none; /* Oculto por defecto */
}

.dropzone.active {
  background: #e0ffe0;
  border-color: green;
}

#resultado {
  margin-top: 20px;
}